<html>
  <head>
    <title>Online Voting Platform</title>
    <meta name="csrf-token" content="<%= csrf %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script>
        // function to delete election
        function deleteElection(id) {
          var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");

            fetch(`/election/${id}`, {
                method: "DELETE",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ _csrf: token }),
            }).then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.log(err));
        }
    </script>
  </head>
  <body>
    <div class="mt-4">
      <div >
        <% if (elections.length === 0) { %>
            <h1 >No elections created yet</h1>
        <% } %>
        <% for (var i=0; i<elections.length; i++) { %>
            <div style="display: flex; text-align: center;width: 75%;margin: auto;align-items: center;justify-content: space-between;">
                <div class="h2"><li ><%= elections[i].name %></li></div>
                <div style="display: flex;justify-content: space-around;width: 400px;">

                
                    <a class="btn btn-info" href="/election/<%= elections[i].id %>">Manage Election</a>
                    <div class="btn btn-info" style="cursor: pointer;" onclick="deleteElection('<%= elections[i].id %>')">Delete Election</div>
                  </div>
            </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
