<style>
   .fff{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 1rem;
      text-align: center;
      margin: auto;
   }
   .f2{
      display: flex;
      width: 95%;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
   }
   .f3{
      display: flex;
   }
   .btn-primary:hover{
      background-color: black;
   }
   .btn-danger:hover{
      background-color: black;
   }
   
</style>

<div class="fff">
   <div style="text-align: center;" >
      
         <h1 class="h1">
            WD Voting Platform
         </h1>
      
   </div>
   <div class="f2">
               <div class="f3">
               <p style="font-weight: bold;">Hi <%= username %></p></div>
           
            
               <div><a style="margin-right: 1rem;" class="btn btn-primary" href="/index">Home</a>
               <a class="btn btn-danger" href="/signout">Sign Out</a></div>
           
    </div>
     
</div>
