<html>
  <head>
    <title>WD Voting Platform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <style>
    *{
      color: white;
    }
  </style>
  <body class="bg-dark"
  >
  <img src="bg1.jpg" style="opacity: 0.4;position: absolute;top: 0px; height: 100%;width: 100%;z-index: -1;" alt="">
    <div class="mt-4">
      <%- include ('header') %>
    </div>
    <div class="rounded-5 border-5 text-center w-25 mx-auto p-5 mt-5" >
      <div >
        
        <div >
          <p class="h1   p-3 rounded-5">Admin Login</p> <br>
          <div
           
          >
            <div>
              <b class="h2 ">Existing User?</b> <br> <br>
              <a
               
                href="/login"
                class="btn btn-dark border border-1 p-2">Log In</a
              >
            </div>
            <br>
            <div >
              <b class="h2 ">New User?</b> <br> <br>
              <a
                
                href="/signup"
                class="btn btn-dark border border-1 p-2">Sign Up</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
